*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    height: 7000px;
      margin-top: 120px; 
}
:root{
    --primary:#0a0c76;
    --primary-2:#FB2E86;
}
.container{
  
    width:100%;
   margin: 0 auto;
   padding: 0 50px;
   max-width: 1400px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
}
.btn {
    border: 0;
    padding: 5px 2px;
   background-color:var(--primary-2) ;
    color: whitesmoke;
    font-weight: bold;
}

    
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
  position: fixed;
  
}

.header ul{
    display: flex;
    gap: 36px;
  
}
  ul .home{
    color:var(--primary-2) ;
}
ul li a{
    color: var(--primary);
}
.header input,.footer input{
    border: 0;
    padding-left: 5px;
  padding:5px 5px;
}
.header .search-form, .footer .search-form{
  
 border:solid 1px rgb(233, 223, 223);
    display: flex;
}

.header ul :hover{
color:var(--primary-2);
}
.footer{
    padding: 50px 0;
    background-color: #F6F7FB;
    
}
.footer .row{
    gap: 20px;
    align-items: flex-start;
}
.footer .left-side{
    width:calc( (100% - 20px) / 2);
    display: flex;
    flex-direction: column;
    gap:20px;
     align-items: flex-start;
}
.footer .address ul{
 display: flex;
flex-wrap:wrap;
flex-direction: column;
gap:15px;
}
.footer .right-side{
      width:calc( (100% - 20px) / 2);
}
.right-side .footer-items{
display: flex;
flex-wrap:wrap;
flex-direction: column;
gap:15px;
}
.right-side .footer-list{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.menu{
  display:none;
}
@media screen and (min-width:0) and (max-width:650px){
.header .list,
.header .search-form {
    display: none;
   }
.menu{
    display: block;
   }

}

@media screen and (min-width:0) and (max-width:650px) {
   .footer .left-side ,
   .footer .right-side { 
   width: 100%;
   } 
  
}
.hero{
    background-image: url('./images/fc5b0171c1d0c8969022c818d8d4ef9026d858fa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 300px;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 50px 0;
}
.hero-content{
color:var(--primary);
}
@media screen and (min-width:0) and (max-width:650px) {
   .hero ,
   .hero-content { 
   width: 100%;
   font-size: 12px;
   }  
}
.products{
       display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    gap:10px; 
    padding-bottom: 50px;
}

/* Single product */
.product {
  width: calc((100% - 30px) / 4);
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-bottom: 10px;
  gap: 10px;
  box-shadow: 2px 2px 2px 2px rgb(216, 214, 214);
}
.product:hover {
  outline: 4px solid #7E33E0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Image box */
.image-box {
  position: relative;
  width: 100%;
}
/* Featured title */
.featured {
  text-align: center;
  color: var(--primary);
  margin: 20px 0;
}

.img {
  width: 100%;
  height: 250px;
  border-radius: 1px;
  background-color: #F6F7FB;
}

/* Icons over image */
.cdn-img {
  position: absolute;
  top: 10px;
  right: 200px;
  display: flex;
  gap: 8px;
  opacity: 0;
}
.cdn-img img:hover {
  background-color: #7E33E0;
}

.product:hover .cdn-img {
  opacity: 1;
} 
.btn-btn{
  position: absolute;
  opacity: 0;
  bottom: 10px;
  left: 70px;
  
}
.product:hover .btn-btn{
  opacity: 1;
}
/* Product info */
.product-info h2 {
  color: var(--primary-2);
}

.product-info .colors {
  display: flex;
  justify-content: center;
align-items: center;
  gap: 5px;
  margin: 20px 0;
}
.product-info span{
     display: flex;
  justify-content: center;
align-items: center;
flex-direction: column;
padding: 5px 0;
 color:#151875;
font-family:Josefin Sans ; 
}
.btn-color {
  border: 0;
  border-radius: 5px;
  width: 30px;
  height: 10px;
}

.color-one { background-color: rgb(8, 196, 196); }
.color-two { background-color: var(--primary-2); }
.color-three { background-color: var(--primary); }
@media screen and (min-width:0) and (max-width:650px) {
   .products{
   flex-direction: column;
  
}
.product{
  width:80%;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.image-box img{
     width: 100%;
    height: 100%; 
}
.product-info h2 ,span{
  font-size: 12px;
}
.product-info .btn-color{
   border: 0;
  border-radius: 5px;
  width: 20px;
  height: 10px;
}
}

