*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    height: 7000px;
      margin-top: 120px; 
}
:root{
    --primary:#0a0c76;
    --primary-2:#FB2E86;
}
.container{
  
    width:100%;
   margin: 0 auto;
   padding: 0 50px;
   max-width: 1400px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
}
.btn {
    border: 0;
    padding: 5px 2px;
   background-color:var(--primary-2) ;
    color: whitesmoke;
}

    
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
  position: fixed;
  
}

.header ul{
    display: flex;
    gap: 36px;
  
}
  ul .home{
    color:var(--primary-2) ;
}
ul li a{
    color: var(--primary);
}
.header input,.footer input{
    border: 0;
    padding-left: 5px;
  padding:5px 5px;
}
.header .search-form, .footer .search-form{
  
 border:solid 1px rgb(233, 223, 223);
    display: flex;
}

.header ul :hover{
color:var(--primary-2);
}
.footer{
    padding: 50px 0;
    background-color: #F6F7FB;
    
}
.footer .row{
    gap: 20px;
    align-items: flex-start;
}
.footer .left-side{
    width:calc( (100% - 20px) / 2);
    display: flex;
    flex-direction: column;
    gap:20px;
     align-items: flex-start;
}
.footer .address ul{
 display: flex;
flex-wrap:wrap;
flex-direction: column;
gap:15px;
}
.footer .right-side{
      width:calc( (100% - 20px) / 2);
}
.right-side .footer-items{
display: flex;
flex-wrap:wrap;
flex-direction: column;
gap:15px;
}
.right-side .footer-list{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.menu{
  display:none;
}
@media screen and (min-width:0) and (max-width:650px){
.header .list,
.header .search-form {
    display: none;
   }
.menu{
    display: block;
   }

}

@media screen and (min-width:0) and (max-width:650px) {
   .footer .left-side ,
   .footer .right-side { 
   width: 100%;
   } 
  
}
.hero{
    background-image: url('./images/fc5b0171c1d0c8969022c818d8d4ef9026d858fa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 300px;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 50px 0;
  
}
.hero-content{
color:var(--primary);
}
@media screen and (min-width:0) and (max-width:650px) {
   .hero ,
   .hero-content { 
   width: 100%;
   }  
}
.products{
       display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap:10px; 
}
.product{
     width:calc((100% - 30px) /4);
    display: flex;
    flex-direction: column;
    gap:10px;
    border: 1px solid #ddd;
   border-radius: 2px;
   box-shadow:2px 2px 2px 2px rgb(216, 214, 214) ;

   
}
.product h2{
    color:var(--primary-2);
}
.featured{
    text-align: center;
    color:var(--primary);
    margin:20px;
}
.product .img{
    height: 251px;
}
.img{
width:100%;
    background-color:#F6F7FB;
  
}
.btn-color
{
 border: 0; 
 border-radius: 5px; 
 outline: 0; width:30px;
  height: 10px;
 } 
 .color-one{
     background-color: rgb(8, 196, 196);
     }
.color-two{
     background-color:var(--primary-2);
     } 
.color-three{ 
    background-color:var(--primary);
 }
 @media screen and (min-width:0) and (max-width:650px) {
.product{
    
   width: 100%;
    
}
}