*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
       height: 7000px;  
}
:root{
    --primary:#0a0c76;
    --primary-2:#FB2E86;
}
.container{
  
    width:100%;
   margin: 0 auto;
   padding: 0 50px;
   max-width: 1400px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
}
.btn {
    border: 0;
    padding: 5px 2px;
   background-color:var(--primary-2) ;
    color: whitesmoke;
    font-weight: bold;
}

    .header{
        position:sticky;
        z-index:1; 
    }
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding-bottom: 50px ;
}

.header ul{
    display: flex;
    gap: 36px;
  
}
  ul .home{
    color:var(--primary-2) ;
}
ul li a{
    color: var(--primary);
}
.header input,.footer input{
    border: 0;
    padding-left: 5px;
  padding:5px 5px;
}
.header .search-form, .footer .search-form{
  
 border:solid 1px rgb(233, 223, 223);
    display: flex;
}

.header ul :hover{
color:var(--primary-2);
}
.footer{
    padding: 50px 0;
    background-color: #F6F7FB;
    
}
.footer .row{
    gap: 20px;
    align-items: flex-start;
}
.footer .left-side{
    width:calc( (100% - 20px) / 2);
    display: flex;
    flex-direction: column;
    gap:20px;
     align-items: flex-start;
}
.footer .address ul{
 display: flex;
flex-wrap:wrap;
flex-direction: column;
gap:15px;
}
.footer .right-side{
      width:calc( (100% - 20px) / 2);
}
.right-side .footer-items{
display: flex;
flex-wrap:wrap;
flex-direction: column;
gap:15px;
}
.right-side .footer-list{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.menu{
  display:none;
}
@media screen and (min-width:0) and (max-width:650px){
.header .list,
.header .search-form {
    display: none;
   }
.menu{
    display: block;
   }

}

@media screen and (min-width:0) and (max-width:650px) {
   .footer .left-side ,
   .footer .right-side { 
   width: 100%;
   } 
  
}
.hero{
    background-image: url('./images/fc5b0171c1d0c8969022c818d8d4ef9026d858fa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 300px;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 50px 0;
}
.hero-content{
color:var(--primary);
}
@media screen and (min-width:0) and (max-width:650px) {
   .hero ,
   .hero-content { 
   width: 100%;
   font-size: 12px;
   }  
}
.products{
       display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    gap:10px; 
    padding-bottom: 50px;
}

/* Single product */
.product {
  width: calc((100% - 30px) / 4);
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-bottom: 10px;
  gap: 10px;
  box-shadow: 2px 2px 2px 2px rgb(216, 214, 214);
}
.product:hover {
  outline: 4px solid #7E33E0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Image box */
.image-box {
  position: relative;
  width: 100%;
}
/* Featured title */
.featured {
  text-align: center;
  color: var(--primary);
  margin: 20px 0;
  font-family: Josefin Sans;
}

.img {
   width: 100%;
  height: 250px;
  border-radius: 1px;
  background-color: #F6F7FB; 
}

/* Icons over image */
.cdn-img {
  position: absolute;
  top: 2px;
  left: 10px;
  display: flex;
  gap: 8px;
  opacity: 0;
 transition: 0.3s;
}
.cdn-img img:hover {
  background-color: #7E33E0;
}

.product:hover .cdn-img {
  opacity: 1;
} 
.btn-btn{
  position:absolute;
  opacity: 0;
  bottom: 10px;
  left: 70px;
  
}
.product:hover .btn-btn{
  opacity: 1;
}
/* Product info */
.product-info h2 {
  color: var(--primary-2);
}

.product-info .colors {
  display: flex;
  justify-content: center;
align-items: center;
  gap: 5px;
  margin: 20px 0;
}
.product-info span{
     display: flex;
  justify-content: center;
align-items: center;
flex-direction: column;
padding: 5px 0;
 color:#151875;
font-family:Josefin Sans ; 
}
.btn-color {
  border: 0;
  border-radius: 5px;
  width: 30px;
  height: 10px;
}

.color-one { background-color: rgb(8, 196, 196); }
.color-two { background-color: var(--primary-2); }
.color-three { background-color: var(--primary); }
@media screen and (min-width:0) and (max-width:650px) {
   .products{
   flex-direction: column;
   align-items: center;
  width:100%;
}
.product{
  width:80%;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.image-box img{
     width: 100%;
    height: 100%; 
}
.product-info h2 ,
.product-info span{
  font-size: 12px;
}
.product-info .btn-color{
   border: 0;
  border-radius: 5px;
  width: 20px;
  height: 10px;
}
}
.products-leatest{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap:30px; 
    padding-bottom: 50px;
}

/* Single product */
.product-leatest{
   width: calc((100% - 90px) / 3);
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-bottom: 10px;
  gap: 10px;
}
.Best-Sellers ul{
display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:60px;
  padding-bottom: 20px;
}
.New-Arrival{
  color:var(--primary-2);
  text-decoration: underline;
}
.product-leatest:hover {
  outline: 4px solid #7E33E0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Image box */
.image1-box {
  position: relative;
  width: 100%;
}
/* Featured title */
.featured {
  text-align: center;
  color: var(--primary);
  margin: 20px 0;
  font-family: Josefin Sans;
}

.img {
   width: 100%;
  height: 250px;
  border-radius: 1px;
  background-color: #f8f9f9; 
}
.product1-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#151875;
  font-family:Josefin Sans ;
  font-size: 14px;
}
.span-color{
  color:red;
  text-decoration: line-through;
}
 .cdn1-img {
  position: absolute;
  bottom: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
}
.cdn-img1 img:hover {
  background-color: #7E33E0;
}

.product-leatest:hover .cdn1-img {
  opacity: 1;
} 
.sale-div {
  width:100px;
}
.sale{
   position: absolute;
    z-index: 5;  
   top: 0;
   left: -30px;
  
}
@media screen and (min-width:0) and (max-width:650px)
{
  .products-leatest{
   flex-direction: row;
    flex-wrap: wrap;
}
.product-leatest{
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.img {
   width: 100%;
  height: 250px;
  border-radius: 1px;
  background-color: #f8f9f9; 
}
.product1-info h2 , 
.product-info span{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
.Best-Sellers ul{
  width: 100%;
  font-size: 12px;
  gap:20px;
}
.Best-Seller{
  width: 100%;
}
}
@media screen and (min-width:651px) and (max-width:900px)
{
  .products-leatest {
     display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.product-leatest {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img {
    width: 100%;
    height: 250px;
    border-radius: 1px;
    background-color: #f8f9f9;
}

.product1-info h2,
.product-info span {
    font-size: 12px;
    padding: 0 5px;
}


}
.items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap:10px;
}
.item{
  width:calc((100% - 30px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
 border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgb(216, 214, 214);
  padding:50px 10px;
  margin-bottom: 50px;
}
.support{
  color:#0a0c76;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.offer{
  text-align: center;
  padding: 20px 0;
}
@media screen and (min-width:0) and (max-width:650px) {
  .items{
width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .item{
    width: 100%;
    text-align: center;
  }
}
.trending{
 text-align: center;
}

.trending h2{
  color:#151875;
  margin-bottom:40px;
}

.trending-products{
  display:flex;
  justify-content:center;
  gap:30px;
}

.product-trending{
  width:240px;
  background:#fff;
  padding:20px;
  border-radius:2px;
  box-shadow:0 0 15px rgba(0,0,0,.05);
  display:flex;
  flex-direction:column;
  align-items:center;
}

.imgs-box{
  width:100%;
  height:220px;
  background:#f5f6fa;
  display:flex;
  align-items:center;
  justify-content:center;
}

.imgs-box img{
  max-width:100%;
  max-height:100%;

}
 
.product-trending:hover {
   outline: 4px solid #7E33E0;
} 
  
.title{
  margin-top:15px;
  color:#151875;
  font-size:14px;
}

.price{
  margin-top:5px;
  color:#151875;
  font-weight:bold;
}

.price span{
  color:#bbb;
  text-decoration:line-through;
  font-size:12px;
  margin-left:5px;
}
@media(max-width:992px){
  .trending-products{
    flex-wrap:wrap;
  }
} 
.top-categories{
  text-align: center;
  padding: 60px 0;
}

.top-categories h2{
  color:#151875;
  margin-bottom: 50px;
} 

.categories{
  display:flex;
  justify-content:center;
  gap:40px;
}

.category{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.circle{
  width:220px;
  height:220px;
  background:#f0f4f4;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
}

 .circle img{
  max-width:60%;
  height:auto;
} 

.btn-BTN{
  position:absolute;
  bottom:20px;
  background:#08D15F;
  color:#fff;
  border:none;
  padding:6px 14px;
  font-size:12px;
  border-radius:4px;
  cursor:pointer;
}

.name{
  margin-top:20px;
  color:#151875;
  font-size:14px;
}

.price{
  color:#151875;
  font-size:13px;
  margin-top:5px;
  font-weight: 400;
}
.category:hover {
  outline: 4px solid #7E33E0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
/* Responsive */
@media(max-width:992px){
  .categories{
    flex-wrap:wrap;
  }
}



 